* {
    box-sizing: border-box;
}

body {
    background-color: #123524;
    font-family: sans-serif;
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
}

button {
    background-color: white;
}

button:active {
    background-color: skyblue;
}

.dropdown {
    margin: 5px;
    float: left;
}

.table {
    color: white;
}

.container {
    clear: left;
}

/* #guadalajara {
    color: blue;
    background-color: red;
    text-decoration: underline white;
} */