* {
    box-sizing: border-box;
}

body {
    background-color: #123524;
    font-family: sans-serif;
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
}

button {
    background-color: white;
}

.nav-link, .nav-link:hover {
    color: whitesmoke;
}

.nav-link:hover, .nav-link:active {
    background-color: powderblue;
    color:black;
}

button:hover, .dropdown-item:hover, .dropdown-toggle:hover, .team-name:hover{
    background-color:powderblue;
    color: black;
    cursor:pointer;
}

button:active, .dropdown-item:active, dropdown-toggle:active {
    background-color: skyblue;
    color: black;
}

 .dropdown {
    /* margin: 5px; */
    float: left;
} 

.table {
    color: white;
}

.options{
    margin-top: 10px;
}

.team-name:active {
    background-color: skyblue;
}

h1 {
    margin-bottom: 15px;
}

.week-sched {
    position: relative;
}
.week-sched span {
    position: absolute;
    width: 70%;
    text-align: center;
}

@media (max-width: 575px) {
     .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
      }
    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 auto;
        width: 33%;
    } 

    .table {
        color: white;
        font-size: 0.8em;
    }

    .print-info {
        font-size:.8em;
    }

    #select-prompt {
        font-size:.9em;
    }
}